* {
  margin: 0;
  padding: 0;
  border-inline: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
}

#canvas1 {
  width: 75%;
  margin: auto;
}

#backgroundImage {
  display: none;
}
